/*StyleSheet*/
body{
  background: #36454f;
  /* background: #4a4747 */
}
#map1{
    width: 75%;
    height: 500px;
    margin: 10px;
    margin:auto;
    border-style: solid;
    border-width: 2px;
}

#map2{
    width: 75%;
    height: 500px;
    margin: 10px;
    margin:auto;
    border-style: solid;
    border-width: 2px;
}

#map3{
    width: 75%;
    height: 500px;
    margin: 10px;
    margin:auto;
    border-style: solid;
    border-width: 2px
}
#title{
  width: 100%;
  height: 80px;
  font-size: 40px;
  font-family: "Oswald";
  text-align: center;
  color: seashell;
}

.slice{
    font-family: "Oswald";
}
.dataSources {
  font-family: arial;
  font-size: 10px;
  background-color: #36454f;
  color: seashell;
  padding-top: 10px;
  text-align: left;
  justify-content: center;
  height: 40px;
  padding-left: 20px;
}
.sidePanel {
  font-family: arial;
  font-size: 10px;
  background-color: #36454f;
  color: seashell;
  padding-top: 10px;
  text-align: right;
  justify-content: center;
  height: 40px;
  padding-left: 20px;
}
.dropdownUS {
  position: absolute;
  top: 100px;
  left: 40px;
  z-index:10;
  font-family: "Oswald";
  font-size: 1em;
  font-weight: bold;
  padding: 2px;
  border: .8px solid dimgrey;
  box-shadow: 2px 2px 4px #999;
  border-radius: 50;
  background-color: seashell;
}
.dropdownMI {
  top: 900px;
  left: 40px;
  z-index:10;
  font-family: "Oswald";
  font-size: 1em;
  font-weight: bold;
  padding: 2px;
  border: .8px solid dimgrey;
  box-shadow: 2px 2px 4px #999;
  border-radius: 50;
  background-color: seashell;
}
/* .gratBackground {
  fill: dimgrey;
  opacity: .8;
} */
/* .gratLines {
  stroke: seashell;
  stroke-width: .6;
} */
.firstPara {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: times;
  color: seashell;
  font-size: 18px;
}
.counties {
  stroke: white;
  stroke-width: .2px;
  /* stroke-linecap: round; */
  /* fill: white; */
}
.tracts {
  stroke: white;
  stroke-width: .2px;
  /* stroke-linecap: round; */
  /* fill: white; */
}
option {
  font-weight: normal;
}
.infolabel {
  position: absolute;
  height: 50px;
  min-width: 100px;
  color: #36454F;
  background-color: seashell;
  border: solid thin #36454F;
  border-radius: 10;
  padding: 5px 10px;
  top: -75px;
  font-family: "Arial";
  font-size: 18px;
}
.infolabel h1 {
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
  font-family: "Arial";
  font-size: 20px;
  color: #36454F;
}
